@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #F1FAEF;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 0.5em;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
}

ul li, ol li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #007acc;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-bottom: 20px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.3rem;
  font-weight: 400;
  margin-bottom: 5px; 
}

.header-title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.header-title a:hover {
  text-decoration: none;
}

.header-tulip {
  max-width: 90px;
  max-height: 90px;
  margin-right: 20px; 
}

.black-line {
  width: 100%;
  height: 1px;
  background-color: #333;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bio p {
  font-size: 1.2rem;
  text-align: center;
}

.animation-container {
  background: #F1FAEF;
  position: fixed;
  z-index: -9;
  height: 100%;
  width: 100%;
}

.shape1, .shape2, .shape3 {
  position: absolute;
  background: #EFC3F5;
  filter: blur(20px);
}

.shape1 {
  top: 30%;
  left: 70%;
  width: 18rem;
  height: 18rem;
  border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  animation: shape1 20s infinite;
}

.shape2 {
  top: 33%;
  left: 40%;
  width: 35rem;
  height: 25rem;
  border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  filter: blur(12rem);
  animation: shape2 35s infinite;
}

.shape3 {
  top: 20%;
  left: 80%;
  width: 25rem;
  height: 25rem;
  border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  filter: blur(14rem);
  animation: shape3 35s infinite;
}

@keyframes shape1 {
  0% {
    transform: translate(0, 0);
    border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  }

  25% {
    transform: translate(-55%, -10%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 40rem;
    width: 70rem;
  }

  50% {
    transform: translate(-90%, -10%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }

  75% {
    transform: translate(-30%, -10%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
    height: 30rem;
    width: 45rem;
  }

  100% {
    transform: translate(0%, 0%);
    border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  }
}

@keyframes shape2 {
  0% {
    transform: translate(0, 0);
    border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  }

  25% {
    transform: translate(-55%, -55%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 50rem;
    width: 50rem;
  }

  50% {
    transform: translate(-70%, -70%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }

  75% {
    transform: translate(-30%, -30%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
  }

  100% {
    transform: translate(0%, 0%);
    border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  }
}

@keyframes shape3 {
  0% {
    transform: translate(0, 0);
    border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  }

  25% {
    transform: translate(-125%, -25%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 50rem;
    width: 50rem;
  }

  50% {
    transform: translate(-90%, -35%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }

  75% {
    transform: translate(-30%, -40%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
  }

  100% {
    transform: translate(0%, 0%);
    border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  }
}

.post-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px; 
  width: 80%;
  max-width: 800px; 
  margin: 40px auto;
  border-radius: 10px; 
  z-index: 1; 
}

.post-page-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px; 
  width: 80%;
  max-width: 800px; 
  margin: 40px auto;
  border-radius: 10px;
  z-index: 1; 
}

.post-title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.post-meta {
  color: #777;
  font-size: 0.9em;
  margin-bottom: 20px; /* Space below meta */
  text-align: center;
  width: 100%;
}

.post-content {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  width: 100%;
  padding: 0 15px; 
}

.back-link {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}


.post-section-title,
.post-section-content {
  width: 100%;
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
}

.post-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.post-container li {
  background-color: transparent;
  border: 1px solid #0F1020;
  border-radius: 20px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.post-container a {
  color: #A465AC;
  font-size: 1.5em;
  text-decoration: none;
}

.post-container a:hover {
  text-decoration: underline;
}

.post-meta-index {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #333;
}


@media (min-width: 1200px) {
  .header-title {
    font-size: 3.3rem;
  }

  .header-tulip {
    max-width: 90px;
    max-height: 90px;
    margin-right: 20px;
  }

  .post-title {
    font-size: 2.5rem;
  }

  .post-content {
    font-size: 1.2rem;
  }

  .post-container ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .header-title {
    font-size: 3rem;
  }

  .header-tulip {
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;
  }

  .post-container {
    width: 85%;
    padding: 35px 15px;
  }

  .post-title {
    font-size: 2.2rem;
  }

  .post-content {
    font-size: 1.1rem;
  }

  .post-container ul {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 767px) {
  .header-title {
    font-size: 2.5rem;
  }

  .header-tulip {
    max-width: 70px;
    max-height: 70px;
    margin-right: 10px;
  }

  .post-container {
    width: 90%;
    padding: 30px 10px;
  }

  .post-title {
    font-size: 2rem;
  }

  .post-content {
    font-size: 1rem;
  }

  /* Adjust grid columns */
  .post-container ul {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* Extra Small Screens */
@media (max-width: 480px) {
  .header-title {
    font-size: 5rem!important;
  }

  .bio {
    font-size: 1.25rem;
  }

  .header-tulip {
    max-width: 60px;
    max-height: 60px;
    margin-right: 5px;
  }

  .post-container {
    width: 95%;
    padding: 20px 5px;
  }

  .post-title {
    font-size: 1.8rem;
  }

  .post-content {
    font-size: 0.9rem;
  }

  .post-container ul {
    grid-template-columns: 1fr;
  }
}


.post-page-container a {
  color: #A465AC!important;
  text-decoration: none;
}

.post0-page-container a:hover {
  text-decoration: underline;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #A465AC!important;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.post-content p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1em;
}

.post-content blockquote {
  border-left: 4px solid #cfbbce;
  padding-left: 1em;
  color: #443444;
  margin: 1.5em 0;
  font-style: italic;
}

.post-content pre {
  background-color: hsl(0, 0%, 100%, 0.2);
  padding: 1em;
  overflow-x: auto;
  border-radius: 5px;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  backdrop-filter: blur(30px);
}

.post-content code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.post-content table {
  background-color: #F1FAEF;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.post-content th,
.post-content td {
  border: 1px solid #6a7f65;
  padding: 0.8em;
  text-align: left;
}

.post-content th {
  background-color: #f2f2f2;
}

.post-content hr {
  border: none;
  border-top: 1px solid #a85a9f;
  margin: 2em 0;
}

.post-content ul,
.post-content ol {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.post-content ul li,
.post-content ol li {
  margin-bottom: 0.5em;
}
